/*=======================RESET======================*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;

}
img{
  max-width: 100%;
  height: auto;
}

/*=======================?======================*/
:root{
  font-size: 100%;
}
/*=======================Base======================*/
body{
  font: 400 "DM sans", sans-serif;
}
h1{
  font: 700 1.875rem "Poppins", sans-serif;
}
/*=======================Container======================*/
.container{ /*Center*/
  width: 90%;
  margin: 0 auto;
}
.header{
  height: 4.5rem; 
  background-color: red;
}
nav{
  display: flex;
  justify-content: space-between;
}


/*=======================RESET======================*/
/*=======================RESET======================*/
/*=======================RESET======================*/
/*=======================RESET======================*/
/*=======================RESET======================*/
